body{
    display: block;
}

header {
 /* Alinha o conteúdo horizontalmente */
    align-items: center; /* Alinha o conteúdo verticalmente */
    width: 100%;
}
.menuheader{
    display: flex;
    margin-right: 15px;
}

.botoes {
    display: flex;
    justify-content: flex-end; /*horinzontal, a direita no espaço disponivel*/ 
    /*itens alinhados ao centro do espaço disponivel*/
    align-items: center; /*itens alinhados ao centro do espaço disponivel*/
    gap: 15px;/*espaçamento entre os elementos dentro do header */
    padding: 10px 14px;/*espaçamento ao redor do header*/
}
.cadastro{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    width: 300px; /* Defina a largura desejada para o formulário */
    margin: 0 auto; /* Centraliza o formulário horizontalmente */
}